= render "projects/blob/breadcrumb", blob: blob

.info-well.hidden-xs
  .well-segment
    %ul.blob-commit-info
      = render 'projects/commits/commit', commit: @last_commit, project: @project, ref: @ref

  - auxiliary_viewer = blob.auxiliary_viewer
  - if auxiliary_viewer && !auxiliary_viewer.render_error
    .well-segment.blob-auxiliary-viewer
      = render 'projects/blob/viewer', viewer: auxiliary_viewer

#blob-content-holder.blob-content-holder
  %article.file-holder
    = render "projects/blob/header", blob: blob
    = render 'projects/blob/content', blob: blob
