- if readme = @repository.readme
  %article.readme-holder
    .pull-right
      - if can?(current_user, :push_code, @project)
        = link_to icon('pencil'), namespace_project_edit_blob_path(@project.namespace, @project, tree_join(@repository.root_ref, readme.path)), class: 'light edit-project-readme'

    = render 'projects/blob/viewer', viewer: readme.rich_viewer, viewer_url: namespace_project_blob_path(@project.namespace, @project, tree_join(@repository.root_ref, readme.path), viewer: :rich, format: :json)
- else
  .row-content-block.second-block.center
    %h3.page-title
      This project does not have a README yet
    - if can?(current_user, :push_code, @project)
      %p
        A
        %code README
        file contains information about other files in a repository and is commonly
        distributed with computer software, forming part of its documentation.
      %p
        We recommend you to
        = link_to "add a README", add_special_file_path(@project, file_name: 'README.md'), class: 'underlined-link'
        file to the repository and GitLab will render it here instead of this message.
